@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    transition: all 300ms linear !important;
}

:root {
    /* colors */
    --primary-color: #FFF7F4;
    --orange-color: #FF5300;
    --light-text-color: #7B7B7B;
    --light-black-color: #373737;
    /* font family */
    --poppins: "Work Sans", sans-serif;
    --work: "Poppins", sans-serif;
    /* font-weight */
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-300: 300;

    /* font size */
    --font-size-39: 39px;
    --font-size-20: 20px;
    --font-size-25: 25px;
    --font-size-48: 48px;
    --font-size-16: 16px;
    --font-size-12: 12px;
    --font-size-31: 31px;

    /* line height */
    --lh-45: 45px;
    --lh-30: 30px;
    --lh-73: 73px;
    --lh-24: 24px;
    --lh-58: 58px;
    --lh-37: 37px;
    --lh-37: 19px;

}

.bg {
    background-color: var(--primary-color);
}


.digi {
    font-family: var(--work);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-39);
    line-height: var(--font-size-48);
    color: var(--orange-color);
}

.ency {
    font-family: var(--work);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-39);
    line-height: var(--font-size-48);
    color: var(--light-black-color);
}


p {
    margin: 0 !important;
}

.nav-item {
    font-family: var(--work);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-500);
    line-height: var(--lh-24);
    color: var(--light-black-color);
    transition: all 200ms linear;
}

@media (max-width: 992px) {
    .digi {
        font-size: var(--font-size-20);
    }

    .ency {
        font-size: var(--font-size-20);
    }

    .nav-item {
        font-size: var(--font-size-16);
    }

    .dig_agency {
        font-family: var(--work);
        font-weight: var(--font-weight-600);
        font-size: var(--font-size-39);
        line-height: var(--lh-45);
    }

    .dig_agency_red {
        font-family: var(--work);
        font-weight: var(--font-weight-600);
        font-size: var(--font-size-39);
        line-height: var(--lh-45);
        color: var(--orange-color);
    }

    .py-20-768px {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ideas_black {
        font-family: var(--work);
        font-size: var(--font-size-31);
        font-weight: var(--font-weight-500);
        /* line-height: var(--lh-58); */
    }

    .ideas {
        font-family: var(--work);
        font-size: var(--font-size-31);
        font-weight: var(--font-weight-500);
        /* line-height: var(--lh-58); */
        color: var(--orange-color);
    }
}

.w-h {
    max-width: 40px;
    height: 40px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (min-width: 992px) {
    .py-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-item:hover {
    color: var(--orange-color);
}

@media (max-width: 767.9px) {
    .lg-view {
        position: fixed;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 0;
        left: -100%;
        z-index: 3;
    }

    label[for="menubar"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 3;
    }

    label[for="menubar"] span {
        width: 100%;
        height: 3px;
        background-color: var(--orange-color);
    }

    input:checked~.lg-view {
        left: 0;
    }

    .text_center {
        text-align: center;
    }

    .flex-prop {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .flex_col_rev {
        flex-direction: column-reverse;
    }


    .mt {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .d_none_max_md {
        display: none;
    }
}

@media (min-width: 992.9px) {
    .dig_agency {
        font-family: var(--work);
        font-weight: var(--font-weight-700);
        font-size: var(--font-size-48);
        line-height: var(--lh-58);
    }

    .dig_agency_red {
        font-family: var(--work);
        font-weight: var(--font-weight-700);
        font-size: var(--font-size-48);
        line-height: var(--lh-58);
        color: var(--orange-color);
    }

    .ideas_black {
        font-family: var(--work);
        font-size: var(--font-size-39);
        font-weight: var(--font-weight-600);
        line-height: var(--lh-45);
    }

    .ideas {
        font-family: var(--work);
        font-size: var(--font-size-39);
        font-weight: var(--font-weight-600);
        line-height: var(--lh-45);
        color: var(--orange-color);
    }
}

.flex-md-prop {
    display: flex;
    align-items: center;
}

.lorem {
    font-family: var(--work);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--lh-24);
    color: var(--light-text-color);
}

.contact {
    font-family: var(--work);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-20);
    line-height: var(--lh-24);
    background: var(--orange-color);
    border: none;
    border-radius: 10px;
    transition: all 200ms linear;
    color: white;
}

.contact:hover {
    background-color: white;
    color: var(--orange-color);
}





.box {
    width: 40px;
    height: 40px;
}

.box {
    background-color: white;
}

.box:hover {
    background-color: var(--orange-color);
}



.box:hover svg path {
    fill: white;
}

.pos-change {
    right: -41px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 200ms linear;
}

.hover_efect:hover {
    .pos-change {
        right: 0;
    }
}

@media (min-width: 768.9px) {
    .d_max_md_none {
        display: none;
    }

    .pt-50 {
        padding-top: 50px;
    }
}

@media (max-width: 767.9px) {
    .center_prop {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}



.words {
    font-family: var(--work);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.bg_chang {
    background-color: var(--orange-color);
}

.w-h-70 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.bg_orange {
    background-color: var(--orange-color);
}

.pt-35 {
    padding-top: 35px;
}

.effect:hover {
    .svg {
        box-shadow: 0px 3px 26px -3px #FF5300;
    }

    .svg_gray {
        box-shadow: 0px 3px 26px -3px #7B7B7B;
    }

    .svg_blue {
        box-shadow: 0px 0px 37px -3px #00ACFF;
    }

    .svg_black {
        box-shadow: 0px 0px 37px -3px #373737;
    }
}

.bg_gray {
    background-color: #7B7B7B;
}

.bg_sky {
    background-color: #00ACFF;
}

.bg_black {
    background-color: #373737;
}

.num {
    font-family: var(--work);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
}

.custom {
    font-family: var(--work);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg_change {
    background-color: #FFF7F4;
}

.name {
    font-family: var(--work);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    /* text-align: left; */
}

.oc {
    font-family: var(--work);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7B7B;
}

.max-w {
    max-width: 600px;
}



.pb-50 {
    padding-bottom: 50px;
}

.work {
    font-family: var(--work);
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.design {
    font-family: var(--work);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

/* .ad {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
} */

.opa-0 {
    opacity: 0;
}

.max-width {
    max-width: 500px;
}

.slides {
    background-color: var(--orange-color);
}

.alignment {
    left: -40px;
}

/* the slides */
.slick-slide {
    margin: 0 50px;
}

/* the parent */
.slick-list {
    margin: 0 -50px;
}

.name {
    font-family: var(--work);
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    /* text-align: center; */
    /* color: white; */
}

.ceo {
    font-family: var(--work);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.lor {
    font-family: var(--work);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

/* slick slider */


.slick-dots li button:before {
    content: "" !important;
    background-color: #373737;
    border-radius: 25px;
    height: 20px !important;
}

.slick-dots li {
    width: 35px !important;
}

.slick-dots li.slick-active button:before {
    background-color: #7B7B7B;
    width: 40px !important;
    height: 20px !important;
    border-radius: 25px;
}

.bg_dif {
    background-color: #FFF7F4;
}

@media (min-width: 992px) {
    .graphic {
        font-family: var(--work);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--orange-color);
    }

    .stellar {
        font-family: var(--work);
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }

    .crist {
        font-family: var(--work);
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
    }

    .date {
        font-family: var(--work);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #7B7B7B;
    }
}

@media (max-width: 991.9px) {
    .graphic {
        font-family: var(--work);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--orange-color);
    }

    .stellar {
        font-family: var(--work);
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    .crist {
        font-family: var(--work);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }

    .date {
        font-family: var(--work);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #7B7B7B;
    }
}

@media (max-width: 991.9px) {
    .change_width {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 1023.9px) {
    .d_lg_none {
        display: none;
    }
}

@media (min-width: 1024px) {
    .d_md_none {
        display: none;
    }

    .d_sm_none {
        display: none;
    }
}

@media (max-width: 1023.9px) and (min-width: 576px) {
    .d_md_none {
        display: none;
    }
}

@media (max-width: 575.9px) and (min-width: 320px) {
    .d_sm_none {
        display: none;
    }
}

@media (max-width: 768px) {
    .w-shift {
        width: 25% !important;
    }
}

.slick-dots {
    bottom: -50px !important;
}


.line {
    font-family: var(--work);
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--orange-color);
}

.mail {
    font-family: var(--work);
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

.email {
    font-family: var(--work);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7B7B;
}

@media (max-width: 992px) and (min-width: 768px) {
    .pr_5 {
        padding-right: 10px !important;
    }

    .pl_3 {
        padding-left: 10px !important;
    }

    .email {
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-400);
        line-height: var(--lh-24);
    }
}

.pr_5 {
    padding-right: 5rem;
}

.pl_3 {
    padding-left: 1rem;
}

.box_1:hover {
    .box-shadow {
        box-shadow: 0px 0px 36px -3px #FF5300;
    }
}

.number {
    font-family: var(--orange-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--orange-color);
}

.name_input {
    font-family: var(--work);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    /* text-align: left; */
    outline: none;
    border: none;
}

.w-48 {
    width: 48%;
}

.box_shadow:hover {
    box-shadow: 0px 0px 36px -3px #FF5300;
}

/* @media (min-width: 992px) {} */

.w-h_change {
    width: 40px;
    height: 40px;
}

.main_heading {
    font-family: var(--work);
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.items {
    font-family: var(--work);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

@media (max-width: 991.9px) and (min-width: 767.9px) {
    .w-h_change {
        width: 40px;
        height: 30px;
    }

    .main_heading {
        font-family: var(--work);
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    .items {
        font-family: var(--work);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }

    .icons svg {
        width: 18px;
        height: 18px;
    }
}


@media (max-width: 767.9px) {
    .pt_val {
        padding-top: 30px;
    }

    .pb_val {
        padding-bottom: 30px;
    }
}

.bg_back {
    background-color: var(--orange-color);
}

.icons:hover {
    background-color: #FFFFFF;
}

.icons:hover svg path {
    fill: var(--orange-color);
}




.back_clr {
    background-color: #373737;
}

.cursor {
    cursor: pointer;
}

.items:hover {
    color: var(--orange-color);
}

.bordr {
    border: 2px solid var(--orange-color);
}

.input_email {
    font-family: var(--work);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    /* text-align: center; */
    outline: none;
    border: none;
}

.w-40 {
    width: 40%;
}

.bg_color {
    background-color: var(--orange-color);
}

.copy {
    font-family: var(--work);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.background {
    background-color: var(--orange-color);
}

.myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    border: none;
    border-radius: 50px !important;
    outline: none;
    background-color: #ff5500cb;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.orangeCard {
    transition: 300ms linear;
}

.orangeBox {
    background-color: #FF5300;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms linear;
    z-index: 3;
    cursor: pointer;
    background-position: center;
    text-align: center;
    top: 0;
}

.orangeCard:hover>.orangeBox {
    opacity: 1;
}

.cateogry {
    font-family: var(--work);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.cateogry:hover {
    color: var(--orange-color);
}

.width_max {
    width: max-content;
}